/* src/pages/MapPage.css */

.map-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f7f8fc;
}

.map-page-container .main-title {
  flex-shrink: 0; /* Prevent the title from shrinking */
  padding-bottom: 0 !important;
}

/* This class is crucial for the map to be visible */
.map-view {
  flex-grow: 1; /* Allow the map to fill the remaining space */
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensure map is behind other UI elements if needed */
}

/* Styling for the popup content */
.map-popup h5 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.map-popup p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
}

.map-popup a {
  font-weight: bold;
  text-decoration: none;
}

/* Remove default background and border from our custom SVG icon */
.custom-div-icon {
  background: none;
  border: none;
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-cluster span {
  line-height: 30px;
}

/* Priority Area Colors */
.critical-cluster {
  background-color: rgba(217, 83, 79, 0.8); /* Red */
  border: 3px solid rgba(217, 83, 79, 1);
}

.high-cluster {
  background-color: rgba(240, 173, 78, 0.8); /* Orange */
  border: 3px solid rgba(240, 173, 78, 1);
}

.medium-cluster {
  background-color: rgba(2, 117, 216, 0.8); /* Blue */
  border: 3px solid rgba(2, 117, 216, 1);
}

.low-cluster {
  background-color: rgba(92, 184, 92, 0.8); /* Green */
  border: 3px solid rgba(92, 184, 92, 1);
}